# This is a configuration file for QPati manager-vm
# It is filled with parameters suitable for a particular environment
# at installation time

export COMP_NAME='{{ comp_name }}'
export COMP_DIR='{{ comp_dir }}'
export COMP_JAR='{{ comp_jar }}'

