source "{{ datalake_dir }}/Metadata/config/config.sh"
source "{{ datalake_dir }}/StatusDb/config/config.sh"
export SPARK_MAIN_CLASS="fi.tietoallas.integration.load.LoadToolApplication"
export SPARK_JARS="/usr/share/java/mssql-jdbc/mssql-jdbc-6.1.0.jre8.jar"
export SPARK_LOADTOOL_JAR="{{ datalake_dir }}/LoadTool/java/loadtool-jar-with-dependencies.jar"
