# This is a configuration file for Clinisoft
# It is filled with parameters suitable for a particular environment
# at installation time

export COMP_COMMON_DIR="{{ comp_dir }}"
export COMP_COMMON_NAME="{{ comp_name }}"
