{
    "name": "{{ comp_name }}",
    "file": "{{ datalake_hdfs_component_data_dir }}/{{ comp_name }}/{{ comp_jar }}",
    "className": "{{ consumer_spark_main_class }}",
    "args": [
        "jdbc:sqlserver://{{ main_res_group }}-db.database.windows.net:1433;database=status;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
        "{{ db_admin }}",
        "{{ db_admin_pwd }}",
        "{{ groups['kafka'][0] }}:9092",
        "{{ comp_name }}"
    ],
    "driverMemory": "2G",
    "numExecutors": 1,
    "executorMemory": "2G"
}